/* 添加搜索表单的样式 */
.search-form {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top:20px;
    margin-bottom:20px;
}
.search-form input[type="text"] {
    padding: 10px;
    height: 50px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.search-form button {
    padding: 10px 20px;
    width: 80px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: #235D3A;
    border: none;
    cursor: pointer;
    text-align: center;
    color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
}

.search-form button:hover {
    background-color: #ddd;
    color: #235D3A;
}

/* 添加搜索结果的样式 */
.search-results {
    margin-top: 20px;
}
.search-results h3 {
    color: #333;
    margin-bottom: 10px;
}
.search-results ul {
    list-style-type: none;
    padding: 0;
}
.search-results li {
    background-color: rgba(248, 249, 250, 0.5);
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.search-results a {
    color: #235D3A;
    text-decoration: none;
    font-weight: bold;
}
.search-results a:hover {
    text-decoration: underline;
}
.search-results p {
    margin: 5px 0;
    color: #666;
}

/* 添加无结果提示的样式 */
.no-results {
    text-align: center;
    margin-top: 50px;
    color: #666;
    font-size: 18px;
}
.searchCard {
    margin-top: 20px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.71);
    align-content: center;
    /* padding: 20px; */
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.19);
    animation: cardContainerLoad 2s;
}
.searchCard h3 {
    margin-top: -8px;
    padding: 10px;
    background-color: #235D3A;
    text-align: center;
    color: white;
}